@inject NavigationManager NavigationManager
@inject AuthService AuthService
@inject GlobalAppState AppState

<CascadingValue Name="@AppConstants.StorageKeys.Username" Value="@_name">
    <Router AppAssembly="@typeof(Main).Assembly"
            AdditionalAssemblies="new[]{ typeof(HomePage).Assembly }">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@code {
    private string _name = string.Empty;
    protected async override Task OnInitializedAsync()
    {
        var name = await AuthService.GetUsername();
        AppState.IsInitializing = false;
        if (string.IsNullOrWhiteSpace(name))
        {
            AppState.ErrorMessage = "Your name is required to use the app.";
            return;
        }
        _name = name;
        //continue with the app
        NavigationManager.NavigateTo("/home");
    }
}